.edit-button__vector {
  display: flex;
  width: 10px;
  height: 10px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  background-image: url(../../../images/edit-button.svg);
  background-size: contain;
  /*z-index: 1;*/
}

@media screen and (max-width: 700px) {
  .edit-button__vector {
    width: 7.5px;
    height: 7.5px;
  }
}
