.info__part {
  display: flex;
  flex-direction: row;
  max-width: 339px;
  width: 100%;
  align-items: end;
  box-sizing: border-box;
}

@media screen and (max-width: 700px) {
  .info__part {
    max-width: 282px;
    padding: 0 19px 0 46px;
  }
}
