.profile__info {
  display: flex;
  row-gap: 5px;
  /*max-width: 339px;*/
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  margin: 0;
  padding: 22px 0 25px;
}

@media screen and (max-width: 733px) {
  .profile__info {
    align-items: center;
    row-gap: 3px;
    padding-bottom: 36px;
    /*max-width: 282px;*/
  }
}
